html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #1E1E1E;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-family: 'Raleway', sans-serif;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  padding-left: 0;
}

::-webkit-scrollbar {
  width: 8px;
  position: relative;
}


::-webkit-scrollbar-thumb {
  background-color: #FF2626;
  border-radius: 10px;
}

.header {
  background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  height: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__link:hover {
  background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  color: #fff;
}

.header__item+.header__item {
  padding-left: 10px;
}

.header__link {
  padding: 39px 14px 39px 14px;
  letter-spacing: 0.4em;
}

.logo {
  margin-top: 30px;
}